/* .login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

   Different from other form 
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */

.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 6rem);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 48rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 8rem auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Tablet */
@media (max-width: 900px) {
  .login {
    padding: 1.5rem 2rem;
    min-height: calc(100vh - 6rem);
  }

  .form {
    width: 50%;
    padding: 1.5rem 1.5rem;
    margin: 4rem auto;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .login {
    padding: 1rem 0.5rem;
    min-height: calc(100vh - 6rem);
  }

  .form {
    width: 80%;
    padding: 1rem 0.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    gap: 1rem;
  }
}
