/* .logo {
  height: 5.2rem;
} */

.logo {
  height: 5.2rem;
  display: block;
  width: auto;
}

/* Tablet */
@media (max-width: 900px) {
  .logo {
    height: 4rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .logo {
    height: 3.5rem;
  }
}
